.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  color: #fff;
}

.input {
  all: unset;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 12px;
  border: 1px solid #e05252;
}

.input.large {
  padding: 16px;
}

.error {
  color: #e05252;
  font-size: 12px;
}

.hidden {
  display: none;
}

.fileLabel {
  height: 100%;
}

.file {
  border: 1px solid #313131;
  background-color: #202020;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  height: 92%;
  cursor: pointer;
}
