.button {
  all: unset;
  border-radius: 8px;
  padding: 8px 32px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.9;
}

.button.contained {
  background-color: #e05252;
  color: #ffffff;
}

.button.contained:hover {
  background-color: #ca4949;
  transition: 0.3s;
  opacity: 1;
}

.button.secondary {
  background-color: #858484;
  color: #ffffff;
}

.button.large {
  padding: 16px;
}

.button.disabled {
  pointer-events: none;
  filter: contrast(0.6);
}

.button a {
  color: #fff;
}
