.movie {
  display: flex;
  flex-direction: column;
}

.poster {
  border-radius: 8px;
  max-width: 250px;
}

.title {
  color: #fff;
}

.heading {
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 0px 0px 48px 0px;
}
